<h3>Create new Chat</h3>

<form method="POST" action="/chats">
    <input placeholder="who are u?" name="from" />
    <br><br>

    <textarea name="msg" placeholder="Write your message here.."></textarea>
    <br><br>

    <input placeholder="add receiver" name="to" />
    <br><br>

    <button>Create Chat</button>
</form>

<br>
<a href="/chats">⬅ Back to all chats</a>
