/* ================== BASE ================== */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  margin: 20px;
  background-color: #e5ddd5;
  color: #1f2937;
}

h3 {
  margin-bottom: 12px;
  font-weight: 600;
}

a {
  color: #075e54;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

.top-bar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #e5ddd5;
  padding-bottom: 10px;
}

/* Header */
.app-header {
  background: #075e54;
  color: white;
  padding: 5px 15px;
  border-radius: 0 0 14px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button#themeToggle {
  margin-left: auto;
}

.new-chat-container {
  padding: 0 20px;
  margin-top: 8px;
}

.new-chat-container button {
  background-color: #128c7e;
}

.new-chat-container button:hover {
  background-color: #075e54;
}

button {
  background-color: #128c7e;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 999px;
  cursor: pointer;
  font-size: 13px;
}

button:hover {
  background-color: #075e54;
}

main {
  margin-top: 0;
}

.chat-row {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin: 14px 0;
}

.sent-row {
  flex-direction: row-reverse;
}

/* Avatar */
.avatar {
  width: 36px;
  height: 36px;
  background-color: #0db9a5;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  box-shadow: 0 0 0 2px rgba(12, 12, 12, 0.6);;
}

.sent-row .avatar {
  background-color: #197cd9;
}

/* Message  */
.msg {
  max-width: 70%;
  padding: 12px 16px;
  border-radius: 14px;
  font-size: 14px;
}

.msg.sent {
  background-color: #dcf8c6;
  margin-left: auto;
}

.msg.received {
  background-color: #ffffff;
}

.msg-name {
  font-size: 12px;
  font-weight: 600;
}

.msg.sent .msg-name {
  color: #197cd9;
  text-align: right;
}

.msg.received .msg-name {
  color: #0f766e;
  background: #e6fffa;
}

.msg-footer {
  font-size: 11px;
  color: #000;
  text-align: right;
}

/* Date separator */
.date-separator {
  text-align: center;
  font-size: 12px;
  color: #374151;
  margin: 16px 0;
}

.actions {
  display: flex;
  gap: 10px;
  margin-top: 8px;
  align-items: center;
}

.actions form {
  margin: 0;
}

/* ================== DARK MODE ================== */
body.dark {
  background-color: #0b141a;
  color: #e5e7eb;
}
body.dark .top-bar {
  background-color: #0b141a;
}

body.dark .new-chat-container {
  background-color: #0b141a;
}


body.dark .app-header {
  background-color: #202c33;
}

body.dark .msg.sent {
  background-color: #005c4b;
}

body.dark .msg.received {
  background-color: #202c33;
}

body.dark .msg.sent .msg-name {
  color: #4ade80;
}

body.dark .msg.received .msg-name {
  color: #22d3ee;
  background: none;
}

body.dark .date-separator {
  color: #abb0b7;
}

body.dark .avatar {
  background-color: #1f2937;
  box-shadow: 0 0 0 2px rgba(255,255,255,0.6);
}

body.dark .sent-row .avatar {
  background-color: #03866e;
}

body.dark .msg-footer {
  color: #ffffff;
}
